div, img, html, body{
    margin: 0;
    padding: 0;
}

#main_canvas {
    width: 100vw;
    height: 100vh;
}

.balloon_img {
    width: 380px;
    position:absolute;
    bottom: 0;
    right: 0;
}

#count_balloons{
    display: flex;
    position: absolute;
    right: 0;
    bottom: 0;
    .balloon{
        margin-right: 36px;
        font-size: 24px;
        color: white;
        font-weight: 100;
        margin-left: 38px;
        margin-bottom: -12px;
        padding: 0;
    }
}
.count_time{
    width: 200px;
    height: 80px;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba($color: #ffffff, $alpha: 0.4);
    line-height: 80px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.hub{
    text-align: center;
    img{
        width: 1000px;
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
    .choose{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 5px solid red;
        position: absolute;
        display: none;
    }
}

.meter{
    width: 160px;
    height: 240px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: rgba($color: #ffffff, $alpha: 0.4);
    .meter_value{
        width: 72px;
        height: 0px;
        background-color: orange;
        position: absolute;
        left: 45px;
        bottom: 20px;
    }
    .meter_border{
        width: 80px;
        height: 200px;
        border: 1px solid black;
        position: absolute;
        left: 40px;
        bottom: 20px;
    }
}
.check_sensor{
    display: flex;
    .sensor{
        width: 80px;
        height: 260px;
        background-color: rgba($color: #ffaaaa, $alpha: 0.4);
        margin-right: 30px;
    }

    .sensor_value{
        width: 60px;
        height: 20px;
        background-color: orangered;
        margin-left: 10px;
        margin-top: 20px;
    }
}

#game_over{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
    display: none;
    h1{
        font-size: 60px;
        padding-top: 300px;
        margin: 0;
    }
    button{
        width: 120px;
        height: 30px;
        border: 1px solid white;
        font-weight: 900;
    }
}

#game_clear{
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    text-align: center;
    display: none;
    h1{
        font-size: 60px;
        padding-top: 300px;
        margin: 0;
    }
    button{
        width: 120px;
        height: 30px;
        border: 1px solid white;
        font-weight: 900;
    }
}
